APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = www.guotao.proDATABASE = easy-thinkphpUSERNAME = easy-thinkphpPASSWORD = xxHOSTPORT = 3306CHARSET = utf8mb4DEBUG = true[LANG]default_lang = zh-cn[WECHAT]# 微信公众号OFFICIAL_APPID  =OFFICIAL_SECRET =OFFICIAL_TOKEN  = TesToken # 微信校验服务器用的# 小程序MINI_APPID = xxxMINI_SECRET = xx